<div>
  <h2>Perfil de Usuario</h2>
  <div>
    <img
      src="{{user.profileImage}}"
      alt="Imagen de perfil"
      width="100"
      height="100"
    />
    <form
      id="profileImageForm"
      enctype="multipart/form-data"
      onsubmit="uploadProfileImage(); return false;"
    >
      <input type="file" name="profile" />
      <button style="margin: 2px;" type="submit">Subir Imagen</button>
    </form>
  </div>

  <p>Nombre: {{user.first_name}}</p>
  <p>Apellido: {{user.last_name}}</p>
  <p>Email: {{user.email}}</p>
  <p>Edad: {{user.age}}</p>
  <p>Rol: {{user.role}}</p>
</div>

<div>
  <h3>Actualizar Datos</h3>
  <form
    id="userUpdateForm"
    onsubmit="updateUser('{{user._id}}'); return false;"
  >
    <div class="form-group">
      <label for="first_name">Nombre:</label>
      <input
        type="text"
        id="first_name"
        name="first_name"
        value="{{user.first_name}}"
        required
      />
    </div>
    <div class="form-group">
      <label for="last_name">Apellido:</label>
      <input
        type="text"
        id="last_name"
        name="last_name"
        value="{{user.last_name}}"
        required
      />
    </div>
    <div class="form-group">
      <label for="age">Edad:</label>
      <input type="number" id="age" name="age" value="{{user.age}}" required />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        value="{{user.email}}"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Contrase침a:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Nueva contrase침a (opcional)"
      />
    </div>
    <button style="margin: 2px;" type="submit">Actualizar Datos</button>
  </form>
</div>

<div>
  {{#if (eq user.role "user")}}
    <h3>Subir Documentaci칩n</h3>
    <form
      id="documentsForm"
      enctype="multipart/form-data"
      onsubmit="uploadDocuments('{{user._id}}'); return false;"
    >
      <input type="file" name="documents" multiple />
      <button type="submit">Subir Documentos</button>
    </form>
    <button
      style="margin: 2px;"
      onclick="changeUserRole('{{user._id}}')"
    >Cambiar a Premium</button>
  {{else if (eq user.role "premium")}}
    <button
      style="margin: 2px;"
      onclick="changeUserRole('{{user._id}}')"
    >Cambiar a User</button>
  {{/if}}
</div>

<div>
  <button style="margin: 2px;" onclick="showProducts()">Ir a los productos</button>
</div>

<div>
  {{#if (eq user.role "admin")}}
    <button
      style="margin: 2px;"
      onclick="location.href='/realTimeProducts'"
    >Administrar Productos</button>
    <button
      style="margin: auto;"
      onclick="location.href='/adminUsers'"
    >Administrar Usuarios</button>
  {{else if (eq user.role "premium")}}
    <button
      style="margin: 2px;"
      onclick="location.href='/realTimeProducts'"
    >Administrar Productos</button>
  {{else}}
    <button style="margin: 2px;" onclick="showCart('{{user.cart._id}}')">Ir al
      carrito</button>
  {{/if}}
</div>

<div>
  <form action="/api/sessions/logout" method="POST">
    <button style="margin: 2px;" type="submit">Cerrar Sesi칩n</button>
  </form>
</div>

<script src="/js/carts.js"></script>
<script src="/js/profile.js"></script>